---
layout: page
title: "Archive"
description: "Search for any topic."
header-img: "img/archive-header.jpg"
permalink: "/archive/"
---

<div>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
   <span class="site-tag">
      <a href="#{{ category | first | slugify }}">
              {{ category[0] }} ({{ category | last | size }})
      </a>
  </span>
  {% endfor %}
</div>

<div>
    {% for category in categories %}
      <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <small class>{{ post.date | date_to_string }}</small></a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
