---
layout: post
title: "Archive"
permalink: "/archive/"
---
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">{{ site.posts | size }}
          <small> - Total number of posts</small>
      </h1>
  </div>
</div>

<div>
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <a href="#{{ category[0] | slugify }}">{{ category[0] }} <i class="badge">{{ category | last | size }}</i></a>
    {% endfor %}
</div>
<hr/>



<div>
    {% for category in categories %}
      <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <small class>{{ post.date | date_to_string }}</small></a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
