---
layout: default
title: "Archive"
permalink: "/archive/"
---

<h2>{{ site.posts | size }} <small> - Total number of posts</small></h2>

<p>
{% assign categories = site.categories | sort %}
{% for category in categories %}
<a href="#{{ category[0] | slugify }}">{{ category[0] }} <i class="badge">{{ category | last | size }}</i></a>
{% endfor %}
</p>

{% for category in categories %}
<h3 id="{{ category[0] | slugify }}">{{ category[0] }}</h3>
<ul>
  {% for post in category[1] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <small class>{{ post.date | date_to_string }}</small></a></li>
  {% endfor %}
</ul>
{% endfor %}
