---
layout: default
---
<h1 class="headline">{{site.title}}</h1>
{% assign paginator_posts = paginator.posts %}

<div class="article-list">
  {% for post in paginator_posts %}
    <div class="article">
      <time datetime="{{ post.date }}" class="time">{{ post.date | date: "%B %d, %Y" }}</time>
      <h2><a href="{{post.url | prepend: site.url}}">{{post.title}}</a></h2>
      <p>{{post.excerpt | strip_html}}</p>
    </div>
  {% endfor %}
</div>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}