<div class="author-box">
    <h2>Contact</h2>
    <p>If you have any suggestions regarding this post or just want to chat together check out these ways to reach out to me.</p>
        <ul class="social-icons">
            <a href="https://www.reddit.com/user/W3ndige" class="social-icon"><li><i class="fa fa-reddit"></i></li></a>
            <a href="https://twitter.com/W3ndige" class="social-icon"><li><i class="fa fa-twitter"></i></li></a>
            <a href="https://keybase.io/W3ndige" class="social-icon"><li><i class="fa fa-key"></i></li></a>
            <a href="https://github.com/W3ndige" class="social-icon"><li><i class="fa fa-github"></i></li></a>
            <a href="mailto:w3ndige@protonmail.com" class="social-icon"><li><i class="fa fa-envelope"></i></li></a>
        </ul>            
    </div>
</div>