
body {
        max-width: $content-width;
        font-family: $base-font-family;
        margin: 0 auto;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        padding: 1em 0em;
        text-rendering: optimizeLegibility;
        @include media-query($on-palm) {
            max-width: 100%;
            padding: 1em;
        }

    }

    h1,h2,h3,h4,h5,h6 {
         font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
         font-weight: bold;
         line-height: 1.8;
         margin: 0;
         text-transform: capitalize;
    }


a {
    color: $brand-color;
    text-decoration: none;
    &:hover{
     color: $text-color;
    }
}



p a {
    color: $text-color;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
    background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
    background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

    -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


    -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
    &:hover {
        color: lighten($background-color, 50%);
        -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
        box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

    }
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

pre, code {
    font-family: 'PT Mono', monospace;
    color: #4f6268;
    font-size: 0.9em;
    background-color: #fafafa;
    //font-size: ($font-size-base - 3);
  }
  code {
    color: #4f6268;
    border-radius: 2px;
    white-space: nowrap;
  }
  
  
  pre { // only apply for code blocks
    overflow: auto;
    display: block;
    padding: 1em;
    // margin: 0 0 1em;
    line-height: $base-line-height * 0.925;
    //word-break: break-all;
    white-space: pre; 
    word-wrap: normal; // break-word;
    border-radius: 0;
    font-weight: normal;
  }
  pre code {
    background: transparent;
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
    color: #586e75; // #525252;
    span {
      word-break: break-all;
    }
  }
    
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 0.9*$base-font-size;
    font-style: italic;
}

.headline, .post-headline {
    font-size: 3.5em;
    margin-bottom: 0.3em;

        @include media-query($on-palm) {
            font-size: 1.5em;
        }
    }

/* Article list in index/home page */
.article-list {
    margin: 1em 0;
}

.article {
    padding-top: 1em;
    border-bottom: 1px solid $grey-color;
}

.post-title {
    padding-top: 1em;  
}

.time {
    color: $grey-color;
    letter-spacing: .5px;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

/* Add video class for iframes to make them responsive */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

/* Theme switch button */
.theme {
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    position: relative;
    top: 1em;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
}

/* Horizontal Divider */
.divider {
    margin: 1em 0;
}
