<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
  {% seo %}
</head>
<body style="background-color: rgb(255, 255, 255)">
    <script async src="{{site.baseurl}}/js/theme.min.js"></script>
    <div class="nav">
        <h1 class="post-headline">{{site.title}}</h1>
        <div class="links">
            <a href="{{site.baseurl}}/">Home</a>
            <a href="{{site.baseurl}}/about/">About</a>
            <a href="{{site.baseurl}}/archive/">Archive</a>
            <a href="{{site.baseurl}}/projects/">Projects</a>
            <a href="{{site.baseurl}}/resources/">Resources</a>
            <a class="theme" onclick="theme()">Dark/Light</a>
         </div>
    </div>
    <main>
        <article>
        {{ content }}
        </article>
    </main>
    <footer>
        <p class="copy"><small>Copyrights by {{site.title}} 2016 - {{ site.time | date: '%Y' }}</small></p>
    </footer>
    {% include analytics.html %}
</body>
</html>
