---
layout: default
---

{% for post in paginator.posts %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat | slugify }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <h4>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
    {% else %}
      {% assign author = site.owner %}
    {% endif %}

    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title | escape }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}

</section>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
